<h1>New <%= resource %></h1>

<%% form_for(@<%= resource %>) do |form| %>
  <%%= form.error_messages %>
  <fieldset class="inputs">
  </fieldset>
  <fieldset class="buttons">
    <%%= form.submit 'Create', :disable_with => 'Please wait...' %>
  </fieldset>
<%% end %>
